name: build

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    # skip if is it pushed by fluxcd
    if: ${{ !contains(github.event.commits.*.author.name, 'fluxcd') }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '^1.18'
      -
        name: build
        run: |
          make build-ci
